<header>
  <nav>
    <a href="/"><img src="/images/hotspot.svg" alt="hotspot logo"/></a>
    <a href="/logout"><img src="/images/logout.svg" alt="Logout button"/></a>
    <a href="/likes"><img src="/images/Favorieten.svg" alt="Favorieten button"/></a>
  </nav>
</header>
