<%- include ("./partials/head.ejs") %>
<div>
  <form id="review" method="post">
    <h1>Reviews</h1>
    <div>
      <article>
        <h2><%= data.name%></h2>
        <p><%= data.review %></p>
      </article>
    </div>

    <div>
      <input type="text" name="name" placeholder="Your name" required />
      <input type="text" name="review" placeholder="Schrijf een review!" required />
      <input id="review-submit" type="submit" value="Verstuur" />
    </div>
    <p id="submit-text">Your review is submitted!</p>
  </form>
</div>
<script src="/js/review.js"></script>
<%- include ("./partials/footer.ejs") %>
