<!DOCTYPE html>
<html>

<head> 
</head>

<body>
    
    <main>
        <div id="review">
            <form action="/homepage" method="POST">
                <h2>Reviews</h2>
                    <h2><%= review.name%></h2>
                    <h3><%= review.review %></h3>

                <br><br>
                <input type="text" name="name" placeholder="Your name"><br>
                <input type="text" name="review" placeholder="Schrijf een review!"><br><br>
                <input type="submit" value="Verstuur">
            </form>
        </div>
    </main>

</body>

</html>

