<!DOCTYPE html>
<html>

<head> 
</head>

<body>
    
    <main>
        <div id="review">
            <form action="/homepage" method="POST">
                <h1>Reviews</h1>
                    <h2><%= data.name%></h2>
                    <p><%= data.review %></p>

                <div>
                    <input type="text" name="name" placeholder="Your name"><br>
                    <input type="text" name="review" placeholder="Schrijf een review!"><br><br>
                    <input type="submit" value="Verstuur">
                </div>
            </form>
        </div>
    </main>

</body>

</html>

