<%- include ("./partials/head.ejs") %>
<h1>Likes</h1>
<section>
    <ul>
        <li>
            <img class="activitypic" src="images/alpacas.png" alt="alpacas">
            <span class="activityname">Wandelen met alpaca's</span>
        </li>
    </ul>
</section>
<%- include ("./partials/footer.ejs") %>