<%- include ("./partials/head.ejs") %>
<section class="signup">
  <div class="box">
    <h1>Maak een account</h1>
    <a class="cross" href="/"><span>Return</span></a>
    <form class="form" method="post">
      <fieldset>
        <legend>Persoonlijk gegevens</legend>
        <label for="name">Voornaam</label>
        <input type="text" name="name" required />
        <label for="surname">Achternaam</label>
        <input type="text" name="surname" required />
        <label for="username">Username</label>
        <input type="text" name="username" required />
        <label for="email">E-mail</label>
        <input type="email" name="email" required />
        <label for="password">Wachtwoord</label>
        <input type="password" name="password" required />
      </fieldset>

      <fieldset class="interests">
        <legend>Selecteer je interesses</legend>
        <input type="checkbox" id="Cultuur" name="interests" value="Cultuur" />
        <label for="Cultuur"> Cultuur </label>

        <input type="checkbox" id="Natuur" name="interests" value="Natuur" />
        <label for="Natuur"> Natuur </label>

        <input type="checkbox" id="Strand" name="interests" value="Strand" />
        <label for="Strand"> Strand </label>

        <input type="checkbox" id="Romantisch" name="interests" value="Romantisch" />
        <label for="Romantisch"> Romantisch </label>

        <input type="checkbox" id="Uitgaan" name="interests" value="Uitgaan" />
        <label for="Uitgaan"> Uitgaan </label>

        <input type="checkbox" id="Stad" name="interests" value="Stad" />
        <label for="Stad"> Stad</label>
      </fieldset>
      <button class="button" type="submit">Registreer</button>
    </form>
  </div>
</section>
<%- include ("./partials/footer.ejs") %>
