<%- include ("./partials/head.ejs") %>
<section class="signup">
  <div class="box">
    <h1>Maak een account</h1>
    <a class="cross" href="/"><span>Return</span></a>
    <form class="form" method="post">
      <label for="name">Voornaam</label>
      <input type="text" name="name" required />

      <label for="surname">Achternaam</label>
      <input type="text" name="surname" required />

      <label for="username">Username</label>
      <input type="text" name="username" required />

      <label for="email">E-mail</label>
      <input type="email" name="email" required />

      <label for="password">Wachtwoord</label>
      <input type="password" name="password" required />

      <p>Selecteer je interesses</p>

      <div class="interests">
        <input type="checkbox" id="Sport" name="interests" value="Sport" />
        <label for="Sport"> Sport </label>

        <input type="checkbox" id="Creativiteit" name="interests" value="Creativiteit" />
        <label for="Creativiteit"> Creativiteit </label>

        <input type="checkbox" id="Ontspanning" name="interests" value="Ontspanning"/>
        <label for="Ontspanning"> Ontspanning </label>

        <input type="checkbox" id="Eten" name="interests" value="Eten" />
        <label for="Eten"> Eten </label>

        <input type="checkbox" id="Natuur" name="interests" value="Natuur" />
        <label for="Natuur"> Natuur </label>

        <input type="checkbox" id="Avontuur" name="interests" value="Avontuur"/>
        <label for="Avontuur"> Avontuur </label>

        <input type="checkbox" id="Dieren" name="interests" value="Dieren" />
        <label for="Dieren"> Dieren </label>

        <input type="checkbox" id="Zon" name="interests" value="Zon" />
        <label for="Zon"> Zon </label>

        <input type="checkbox" id="Adrenaline" name="interests" value="Adrenaline" />
        <label for="Adrenaline"> Adrenaline </label>

        <input type="checkbox" id="Uitgaan" name="interests" value="Uitgaan" />
        <label for="Uitgaan"> Uitgaan </label>

        <input type="checkbox" id="Dansen" name="interests" value="Dansen" />
        <label for="Dansen"> Dansen </label>

        <input type="checkbox" id="Overnachten" name="interests" value="Overnachten" />
        <label for="Overnachten"> Overnachten </label>
      </div>
      <button class="button" type="submit">Registreer</button>
    </form>
  </div>
</section>
<%- include ("./partials/footer.ejs") %>
