@import url(style.css);

main ul {
    display: grid;
    width: min(100% - 2rem, 45rem);
    margin-inline: auto;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    gap: 1rem;
}

main ul li{
    border-radius: 15%;
    background-color: var(--white);
}

main ul li img {
    width: auto;
    border-radius: 15%;
    min-height: 20rem;
    object-fit: cover;
    border-radius: 15% 15% 0 0;
}

main ul li p{
    text-align: center;
    padding-block: 1rem;
    color: var(--contrast-color);
    font-size: var(--font-medium);
}




@media screen and (max-width: 25em){
    main ul {
        grid-template-columns: repeat(auto-fit,minmax(6.5rem,1fr));
    }

    main ul li p{
        font-size: var(--font-small);
    }

    main ul li img {
        min-height: 10rem;


    }
}