h2 {
    padding-right: 55px;
    border-bottom: 2.5px solid var(--main-color);
    margin-top: 50px;
}

div {
    display: flex;
    flex-direction: row;
}

div a {
    color: var(--link);
    font-size: var(--font-small);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 40px;
    margin-top: 50px;
    margin-left: 82.5px;
    border-bottom: 2.5px solid var(--link);
}

form {
    margin-top: 40px;
}

fieldset {
    border: 0;
    padding: 0;
}

legend {
    color: var(--main-color);
    margin: 0;
    font-weight: bold;
    font-size: var(--font-medium);
    text-transform: uppercase;
}

fieldset:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset:last-of-type {
    margin: 30px 0px;
    display: grid;
    grid-template-columns: auto auto;
    width: 275px;
}

fieldset:last-of-type input {
    display: none;
}

fieldset:last-of-type label {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
    padding: 35px 10px;
    border-radius: 5px;
    width: 75px;
    border: none;
    color: #4D4D4D;
    background-color: #CCCCCC;
}

fieldset:last-of-type input:checked + label {
    background-color: var(--contrast-color);
    color: var(--white)
}

fieldset:last-of-type label:nth-of-type(4) {
    font-size: 0.7rem;
    padding-top: 37px;
}

button {
    margin: 10px 0 40px 130px;
    font-size: 0.7rem;
}
