:root {
    /* COLORS */
    --main-color: #0071BC;
    --accent-color: #29ABE2;
    --shadow-color: #2E3192;
    --contrast-color: #F15A24;
    --background-color: #F2F2F2;
    --white: #FFFFFF;
    --shadow: #c2c2c2;
    --link: #808080;

    /* FONT SIZES */
    --font-small: 1rem;
    --font-medium: 1.05rem;
    --font-large: 1.4rem;

    /* RADIUS */
    --radius-regular: 5px;

    /* SPACING */
    --space-small: 1em;
    --space-medium: 1.1em;
    --space-large: 3em;
}

  nav:first-of-type {
    height: 10vh;
    background-color: #29ABE2;
    border-bottom: solid 10px #0071BC;
    padding: 10px;
  }
  
  nav:first-of-type img {
    height: 100%;
  }

  body {
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
    margin: 0; 
  }

  h1 {
    color: var(--main-color);
    margin: 35px;
    font-size: var(--font-large);
    text-transform: uppercase;
    text-align: center;
  }

  h2 {
    color: var(--main-color);
    margin: 0;
    font-size: var(--font-small);
    text-transform: uppercase;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 82.5px;
  }

  label {
    margin-top: 20px;
    color: var(--main-color)
  }

  input {
    width: 225px;
    height: 30px;
    border-radius: var(--radius-regular);
    border: none;
    box-shadow: 5px 5px 10px var(--shadow);
  }

  button {
    background-color: var(--contrast-color);
    width: 100px;
    height: 35px;
    border-radius: var(--radius-regular);
    border: none;
    color: var(--white);
    font-weight: 900;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px var(--shadow);
  }

